#cl{
    width: 95%;
    margin: auto;
    margin-top: 20px;
}
#cl1{
    float: left;
    width: 40%;
    background-color: rgb(255, 255, 255);
}
#cl2{
    float: left;
    width: 20%;
    background-color: rgb(255, 255, 255);
}
#cl3{
    float: left;
    width: 20%;
    background-color: rgb(255, 255, 255);
}
#cl3>input{
    border-radius: 5px;
}
#cl4{
    float: left;
    width: 20%;
    background-color: rgb(255, 255, 255);
}
#sp>img{
    float: left;
    width: 15%;
}
.li{
    position: relative;
        top: 20px;
}
.in{
    position: relative;
        top: 20px;
}
hr{
    border: 1px solid rgb(163, 163, 163);
}
#cl3>input{
    width: 20%;
}
#button{
    margin: auto;
    clear: both;
    width: 95%;
    text-align: right;
    font-size: 20px;
}
#button>a>#thanhtoan{
    background-color:rgb(73, 73, 73);
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font-weight: 800 ;
    color: white;
    
}
#button>a>#thanhtoan:hover{
    background-color: rgb(105, 105, 103);
    
}
#gg{
    border-radius: 5px;
    width: 150px;
    height: 20px;
}
